.home {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > section {
    width: 100%;
    height: 18.75rem;
    margin: auto;
    background: url("../assets/cover.jpg") no-repeat center / cover;
  }

  > h1 {
    @include heading(1px);
    margin-top: 3rem;
    @include flex(row, space-between, center);
  }

  .findmore {
    font-size: 1rem;
  }

  > main {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.product-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: 20px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .product-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product-wrapper2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .product-name {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
    flex-direction: column;
  }

  .product-price{
    font-weight: 300;
  }
  .product-stock{
    font-weight: 300;
  }

  .product-desc{
    text-align: left;
  }

  .link {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
}


.product-card {
  width: 18.75rem;
  height: 25rem;
  padding: 1rem;
  flex: none;
  @include flex(column, flex-start, center, 4px);
  position: relative;
  background-color: white;

  &:hover > div {
    opacity: 1;
  }

  img {
    @include square(calc(18.75rem - 3rem));
    object-fit: cover;
    margin: 1rem;
  }

  span {
    font-weight: 700;
    font-size: 1.1rem;
  }

  > div {
    opacity: 0;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: #0000006b;
    @include flex;
    button {
      @include flex;
      @include square(3rem);
      border-radius: 100%;
      border: none;
      background-color: $color3;
      cursor: pointer;
      color: $color1;
      font-size: 1.1rem;
      transition: all 0.3s;
      &:hover {
        rotate: 20deg;
      }
    }
  }
}
